.header {
  max-width: 1184px;
  min-height: 52px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 28px;
  box-sizing: border-box;
}

@media screen and (max-width: 1124px) {
  .header {
    padding-left: 48px;
    padding-right: 48px;
  }
}

@media screen and (max-width: 984px) {
  .header {
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media screen and (max-width: 568px) {
  .header {
    padding: 16px 16px 0;
  }
}
