.lead__image {
  width: 100%;
  padding-top: 32px;
  margin: 0;
}

@media screen and (max-width: 1124px) {
  .lead__image {
    padding-top: 28px;
  }
}

@media screen and (max-width: 568px) {
  .lead__image {
    padding-top: 20px;
  }
}


