.lead__caption {
    align-self: flex-start;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    padding: 8px 0 0;
    margin: 0;
    letter-spacing: 1.5px;
    text-transform: uppercase;
  }
  
  @media screen and (max-width: 984px) {
    .lead__caption {
      padding-left: 24px;
    }
  }
  
  @media screen and (max-width: 568px) {
    .lead__caption {
      padding-left: 16px;
    }
  }